.cardSize{
    height: 30vh;
}
.imgSize{
    height: 30vh;
}
@media only screen and (min-width: 360px) and (max-width: 540px) {
	.cardSize{
        height: 100%;
    }
    .imgSize{
        height: 20vh;
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px) {
	.cardSize{
        height: 22vh;
    }
    .imgSize{
        height: 20vh;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
	.cardSize{
        height: 30vh;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	.cardSize{
        height: 40vh;
    }
}