.cardSize {
    height: 30vh;
}

.imgSize {
    height: 30vh;
}

.btn-favorite {
    width: 3vh;
    height: 3vh;
    background-color: white;
    border-radius: 3vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.3vh;
    top: 0.3vh;
    font-size: 1.2rem;
}

@media only screen and (min-width: 320px) and (max-width: 540px) {
    .cardSize {
        height: 100%;
    }

    .imgSize {
        height: 45vh;
    }
}

@media only screen and (min-width: 541px) and (max-width: 768px) {
    .cardSize {
        height: 40vh;
    }

    .imgSize {
        height: 30vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .cardSize {
        height: 30vh;
    }

    .imgSize {
        height: 25vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .cardSize {
        height: 40vh;
    }

    .imgSize {
        height: 40vh;
    }
}

@media only screen and (min-width: 1400px) {
    .imgSize {
        height: 40vh;
    }

    .cardSize {
        height: 37vh;
    }
}